@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800;900&display=block');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=block');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");

:root {
  --color-primary: #EAAB0A;
  --color-secondary: #FFC501;
  --text-primary: #FFF;
  --text-secondary: #000;
  --bg-footer: #000;
  --font-primary: 'Lato', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
}
