/* SWIPER */
  .slider {
    position: relative;
    width: 100%;
    height: 80vh;
  }

  .swiper {
    width: 100%;
    height: 100%;
    color: #fff;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;
  }



  .slide__background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .slide__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 50vw;
    display: grid;
    align-items: center;
  }

  .slide__info__date {
    font-size: 1.5rem;
    font-weight: 400;
    padding-right: 2rem;
  }

  .slide__info__title {
    font-size: 8rem;
    font-weight: 700;
    width: 100%;
    max-width: 40rem;
  }

  .slide__info__accent {
    color: var(--color-secondary);
  }

  .slide__info__button {
    width: 17rem;
    height: 5rem;
    cursor: pointer;

    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-secondary);

    background: none;
    border-radius: 8rem;
    border: solid 0.2rem var(--text-primary);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease;
  }

  .slide__info__button:hover {
    background: var(--color-secondary);
    color: var(--text-primary);
  }

  @media screen and (max-width: 1080px) {
    .slide__info__title {
      font-size: 6rem;
    }
  }

  @media screen and (max-width: 800px) {
    .slide__info__title {
      font-size: 4rem;
      max-width:  20rem;
    }
  }

  @media screen and (max-width: 580px) {
    .slide__info {
      padding-left: 30vw;
    }

    .slide__info__title {
      font-size: 2rem;
    }

    .slide__info__button {
      width: 10rem;
      height: 4rem;
      font-size: 1rem;
    }

    .slide__background-image {
      object-position: 40%;
    }
  }



  .counter {
    background-color: var(--color-primary);
    color: var(--text-primary);
    margin-top: -2rem;
  }

  .counter_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding: 5rem 0;
    text-align: center;
  }

  .counter_container h3 {
    font-size: 3rem;
  }

  .counter_container h3 small {
    display: block;
    font-size: 1rem;
  }

  @media screen and (max-width: 900px) {
    .counter_container {
      gap: 4rem;
    }

    .counter_container h3 {
      font-size: 2.4rem;
    }
  }

  @media screen and (max-width: 500px) {
    .counter_container h3 {
      font-size: 2rem;
    }
  }



  .institutional {
    display: grid;
    grid-template-columns: auto auto;
    gap: 4rem;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .institutional__image {
    width: 100%;
    max-width: 55rem;
  }

  .institutional__info {
    width: 100%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .institutional__info h6 {
    font-size: 1.4rem;
    font-weight: 300;
  }

  .institutional__info h4 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .institutional__info p {
    font-size: 1.7rem;
    font-weight: 400;
    max-width: 40rem;
  }

  .institutional__info a {
    width: 17rem;
    height: 5rem;
    transition: all 500ms ease;

    display: flex;
    place-items: center;
    justify-content: center;

    border-radius: 8rem;
    border: none;

    background: var(--color-secondary);
    color: var(--text-primary);
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
  }

  .institutional__info a:hover {
    background: var(--text-primary);
    color: var(--color-secondary);
    box-shadow: 0.1rem 0.5rem 1rem #333;
  }

  @media screen and (max-width: 1080px) {
    .institutional__info {
      gap: 2rem;
    }

    .institutional__info h6 {
      font-size: 1rem;
    }

    .institutional__info h4 {
      font-size: 2rem;
    }

    .institutional__info p {
      font-size: 1.2rem;
      max-width: 30rem;
    }

    .institutional__info a {
      width: 14rem;
      height: 4rem;
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 840px) {
    .institutional {
      grid-template-columns: 1fr;
      gap: 2rem;
      place-items: center;
    }

    .institutional__image {
      max-width: 30rem;
    }

    .institutional__info {
      max-width: 100%;
      place-items: center;
    }

    .institutional__info h4 {
      text-align: center;
    }
  }

  .quote {
    background-image: url("../images/home/parallax.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .quote__container {
    display: grid;
    align-items: center;
    justify-items: end;
    min-height: 80vh;
  }

  .quote__content {
    background: var(--text-primary);
    padding: 8rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .quote__content h6 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    max-width: 35rem;
  }

  .quote__content h2 {
    font-size: 8rem;
    font-weight: 700;
    width: 100%;
    max-width: 60rem;
  }

  .quote__content h2 span {
    display: block;
    color: var(--color-secondary);
  }

  .quote__content a {
    width: 17rem;
    height: 5rem;
    transition: all 500ms ease;

    display: flex;
    place-items: center;
    justify-content: center;

    border-radius: 8rem;
    border: solid 0.2rem #333;

    background: var(--text-primary);
    color: var(--color-secondary);
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
  }

  .quote__content a:hover {
    background: var(--color-secondary);
    color: var(--text-primary);
    box-shadow: 0.1rem 0.5rem 1rem #333;
  }

  @media screen and (max-width: 800px) {
    .quote__content {
      padding: 4rem 2rem;
    }

    .quote__content h6 {
      font-size: 1rem;
      max-width: 25rem;
    }

    .quote__content h2 {
      font-size: 4rem;
    }
  }

  @media screen and (max-width: 400px) {
    .quote__content {
      padding: 2rem 1rem;
    }

    .quote__content h6 {
      font-size: 0.6rem;
      max-width: 15rem;
    }

    .quote__content h2 {
      font-size: 2rem;
    }

    .quote__content a {
      width: 12rem;
      height: 3rem;
      font-size: 1rem;
    }
  }
